<!doctype html>
<html lang="en" ng-app="MyApp">

<head>

    <!-- Scrolls -->
	
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="css/style.css">

</head>

<body layout="column" ng-controller="TopGit">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" style="width:24px;height:24px;">
                <i class="material-icons md-48">face</i>
            </md-button>
            <h1>TopGit</h1>
        </div>
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
            <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-slider-container>
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Filters</h1>
                </md-toolbar>
                <br>
                <span class="md-body-1"><strong>Stars</strong> (500-20000)</span>
                <md-slider flex ng-model="count" ng-init="count=5000" min="500" max="20000" aria-label="blue" id="blue-slider" class="md-primary">
                </md-slider>
                <md-input-container>
                    <input flex type="number" ng-model="count" aria-label="blue" aria-controls="blue-slider">
                </md-input-container>
            </md-slider-container>
        </md-sidenav>




        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
                <md-input-container class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <i class="material-icons">search</i>
                    <input ng-model="search" ng-model-options="{ debounce: 800 }" onclick="select()" placeholder="search (by language)" class="form-control" autofocus>
                </md-input-container>
                <br><br>             
                
                <h2><strong>Found total:</strong> {{details.total_count}}</h2>
                <h3><strong>Showing:</strong> {{filteredResults.length}}</h3>
                <div ng-repeat="items in filteredResults = (details.items | rangeFilter:count)">

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <h3 class="md-headline"><strong>Repo:</strong> <a href="{{items.html_url}}" target="_blank">{{ items.full_name}}</a> 
			                    <md-button style="float: right;"><i class="material-icons">star</i>{{items.stargazers_count}}</md-button></h3>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-content>
                            <p>
                                <strong>Description:</strong> {{ items.description }}
                            </p>
                            <p>
                                <strong>Language:</strong> {{ items.language }}
                            </p>
                            <p>
                                <strong>Forks:</strong> {{ items.forks }}
                            </p>
                        </md-card-content>
                    </md-card>
                    <br>

                </div>
            </md-content>
        </div>
    </div>





    <!-- Angular Material Dependencies -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="app.js"></script>




</body>

</html>